{% extends 'base.html.twig' %}

{% block title %}{{ 'log_in'|trans }}{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">{{ 'sign_in'|trans }}</h1>
        <label for="inputUsername" class="sr-only">{{ 'Username'|trans }}</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="{{ 'Username'|trans }}" required autofocus>
        <br>
        <label for="inputPassword" class="sr-only">{{ 'password'|trans }}</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="{{ 'password'|trans }}" required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" checked name="_remember_me"> Remember me
            </label>
        </div>

        <button name="login-button" class="btn" type="submit">{{ 'sign_in'|trans }}</button>

        <a href="{{ path('registration') }}" class="btn">{{ 'registration'|trans }}</a>
    </form>
{% endblock %}
