{% extends 'base.html.twig' %}

{% block body %}
    <h3>{{ 'registration'|trans }}</h3>
    {{ form(form) }}

    <a href="{{ logout_path('article_firewall') }}" class="btn">{{ 'Back'|trans }}</a>

{% endblock %}
