{% extends 'base.html.twig' %}

{% block body %}
    <title>EDIT CURRENT DATA</title>
    {{ form(editForm) }}
    <a href="{{ path('product_index') }}" class="btn">{{ 'Back'|trans }}</a>
{% endblock %}