{% extends 'base.html.twig' %}

{% block title %}Product list{% endblock %}

{% block body %}
    <a href="{{ logout_path('article_firewall') }}" class="btn">{{ 'Logout'|trans }}</a>
    <div class="float-right" style="margin-top: 13px">
        <div class="navbar-header">
        </div>
    </div>

    <table border="1">
        <caption>Table</caption>
        <tr style="font-weight: bold">
            <td>{{ 'label.product.name'|trans }}</td>
            <td>{{ 'label.product.price'|trans }}</td>
            <td>{{ 'label.product.category'|trans }}</td>
            <td>{{ 'label.product.height'|trans }}</td>
            <td>{{ 'label.product.width'|trans }}</td>
            <td>{{ 'label.product.depth'|trans }}</td>
            <td>{{ 'label.product.weight'|trans }}</td>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.height }}</td>
                <td>{{ product.width }}</td>
                <td>{{ product.depth }}</td>
                <td>{{ product.weight }}</td>
                <td><a href="{{ path('product_edit', {'id': product.id}) }}" class="btn">{{ 'Update'|trans }}</a></td>
                <td><a onclick="return confirm('{{ 'Are you sure you want to delete this item?'|trans }}');" href="{{ path('product_delete', {'id': product.id}) }}" class="btn">{{ 'Delete'|trans }}</a></td>
            </tr>
        {% endfor %}
    </table>
    <br>

    <a href="{{ path('product_create') }}" class="btn">{{ 'CREATE NEW PRODUCT'|trans }}</a>

    <br>

    <br>

    <a href="{{ path('article_index') }}" class="btn">{{ 'Back'|trans }}</a>

{% endblock %}
