<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Action{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <style>
            .btn {
                display: inline-block;
                background: Gray;
                color: #fff;
                padding: 0.5rem 0.5rem;
                text-decoration: none;
                border-radius: 3px;
            }
        </style>

        <div class="float-right" style="margin-top: 13px">
            <div class="navbar-header">
                <div class="row">
                    <a href="{{ path('article_locale', {'locale': 'en'}) }}" class="btn">EN</a>
                    <a href="{{ path('article_locale', {'locale': 'ru'}) }}" class="btn">RU</a>
                </div>
            </div>
        </div>

        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}
{#            <div class="float-right" style="margin-top: 13px">#}
{#                <div class="navbar-header">#}
{#                    <div class="row">#}
{#                        <a href="{{ path('article_locale', {'locale': 'en'}) }}">EN&nbsp;</a>#}
{#                        <a href="{{ path('article_locale', {'locale': 'ru'}) }}">&nbsp;RU</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        {% endblock %}
    </body>
</html>
