{% extends 'base.html.twig' %}

{% block body %}
  <title>DELETE CURRENT DATA</title>
      <table border="1">
        <caption>THIS DATA WILL BE DELETED</caption>
        <tr style="font-weight: bold">
            <td>{{ 'Name'|trans }}</td>
            <td>{{ 'Description'|trans }}</td>
            <td>{{ 'Created at'|trans }}</td>

        </tr>
              <tr>
                <td>{{ article.name }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.createdAt|date('Y-m-d H:i:s') }}</td>
             </tr>
     </table>
    <br>
{#      <form method="post">
        <input class="btn" type="submit" name="YES" value="YES">
        <input class="btn" type="submit" name="NO" value="NO">
    </form>
#}
{% endblock %}
