{% extends 'base.html.twig' %}

    {% block title %}Article{% endblock %}
{% block body %}
    <a href="{{ logout_path('article_firewall') }}" class="btn">{{ 'Logout'|trans }}</a>

    <table border="1">
        <caption>Table</caption>
        <tr style="font-weight: bold">
            <td>{{ 'label.article.name'|trans }}</td>
            <td>{{ 'label.article.description'|trans }}</td>
            <td>{{ 'label.article.created_at'|trans }}</td>

        </tr>
        {% for article in articles %}
            <tr>
                <td>{{ article.name }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.createdAt|date('Y-m-d H:i:s') }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                <td><a href="{{ path('article_edit', {'id': article.id}) }}" class="btn">{{ 'Update'|trans }}</a></td>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                <td><a onclick="return confirm('{{ 'Are you sure you want to delete this item?'|trans }}');" href="{{ path('article_delete', {'id': article.id}) }}" class="btn">{{ 'Delete'|trans }}</a></td>
                    {% endif %}
            </tr>
        {% endfor %}
        <div class="col">
            {{ knp_pagination_render(articles) }}
        </div>
    </table>
    <br>

    <a href="{{ path('article_create') }}" class="btn">{{ 'CREATE NEW DATA'|trans }}</a>

    <a href="{{ path('article_last') }}" class="btn">{{ 'VIEW LAST ACTION'|trans }}</a>

    <br>

    <br>

    <a href="{{ path('product_index') }}" class="btn">{{ 'View PRODUCT List'|trans }}</a>

{% endblock %}