{% extends 'base.html.twig' %}

{% block body %}
    <title>VIEW LAST ACTION</title>

    <table border="1">
        <caption>Table</caption>
        <tr style="font-weight: bold">
            <td>{{ 'Name'|trans }}</td>
            <td>{{ 'Description'|trans }}</td>
            <td>{{ 'Created at'|trans }}</td>

        </tr>
            <tr>
                <td>{{ article.name }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.createdAt|date('Y-m-d H:i:s') }}</td>
                <td><a href="{{ path('article_edit', {'id': article.id}) }}" class="btn">{{ 'Update'|trans }}</a></td>
                <td><a onclick="return confirm('{{ 'Are you sure you want to delete this item?'|trans }}');" href="{{ path('article_delete', {'id': article.id}) }}" class="btn">{{ 'Delete'|trans }}</a></td>
            </tr>
    </table>
    <br>

    <a href="{{ path('article_index') }}" class="btn">{{ 'Back'|trans }}</a>

{% endblock %}
