{% extends 'base.html.twig' %}

{% block body %}
        {{ packages|length }}

    <table border="1">
        <tr style="font-weight: bold">
            <td>{{ 'Package Name' }}</td>
            <td>{{ 'Package Description' }}</td>
            <td>{{ 'Package Downloads' }}</td>
        </tr>
        {% for package in packages %}
            <tr>
                <td>{{ package.name }}</td>
                <td>{{ package.description }}</td>
                <td>{{ package.downloads }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}